{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <h3 class="page-title">Add Students</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'student_list' %}">Students</a></li>
                  <li class="breadcrumb-item active">Add Students</li>
               </ul>
            </div>
         </div>
      </div>

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
         {{ message }}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
      </div>
      {% endfor %}
      {% endif %}

      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-body">
                  <form method="post" enctype="multipart/form-data">
                     {% csrf_token %}

                     <!-- Student Information -->
                     <div class="row">
                        <div class="col-12">
                           <h5 class="form-title"><span>Student Information</span></h5>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="first_name">First Name <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="first_name" name="first_name" required>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="last_name">Last Name <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="last_name" name="last_name" required>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="student_id">Student Id <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="student_id" name="student_id" required>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="gender">Gender <span class="text-danger">*</span></label>
                              <select class="form-control" id="gender" name="gender" required>
                                 <option value="">Select Gender</option>
                                 <option value="Male">Male</option>
                                 <option value="Female">Female</option>
                              </select>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="date_of_birth">Date of Birth <span class="text-danger">*</span></label>
                              <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" required>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="student_class">Class <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="student_class" name="student_class" required>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="joining_date">Joining Date <span class="text-danger">*</span></label>
                              <input type="date" class="form-control" id="joining_date" name="joining_date" required>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="mobile_number">Mobile Number <span class="text-danger">*</span></label>
                              <input type="tel" class="form-control" id="mobile_number" name="mobile_number" required>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="admission_number">Admission Number <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="admission_number" name="admission_number"
                                 required>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="section">Section <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="section" name="section" required>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="student_image">Student Image</label>
                              <input type="file" class="form-control-file" id="student_image" name="student_image">
                           </div>
                        </div>
                     </div>

                     <!-- Parent Information -->
                     <div class="row">
                        <div class="col-12">
                           <h5 class="form-title"><span>Parent Information</span></h5>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="father_name">Father's Name <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="father_name" name="father_name" required>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="father_occupation">Father's Occupation</label>
                              <input type="text" class="form-control" id="father_occupation" name="father_occupation">
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="father_mobile">Father's Mobile <span class="text-danger">*</span></label>
                              <input type="tel" class="form-control" id="father_mobile" name="father_mobile" required>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="father_email">Father's Email</label>
                              <input type="email" class="form-control" id="father_email" name="father_email">
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="mother_name">Mother's Name <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="mother_name" name="mother_name" required>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="mother_occupation">Mother's Occupation</label>
                              <input type="text" class="form-control" id="mother_occupation" name="mother_occupation">
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="mother_mobile">Mother's Mobile <span class="text-danger">*</span></label>
                              <input type="tel" class="form-control" id="mother_mobile" name="mother_mobile" required>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="mother_email">Mother's Email</label>
                              <input type="email" class="form-control" id="mother_email" name="mother_email">
                           </div>
                        </div>

                        <div class="col-12">
                           <div class="form-group">
                              <label for="present_address">Present Address <span class="text-danger">*</span></label>
                              <textarea class="form-control" id="present_address" name="present_address" rows="3"
                                 required></textarea>
                           </div>
                        </div>

                        <div class="col-12">
                           <div class="form-group">
                              <label for="permanent_address">Permanent Address <span
                                    class="text-danger">*</span></label>
                              <textarea class="form-control" id="permanent_address" name="permanent_address" rows="3"
                                 required></textarea>
                           </div>
                        </div>

                        <div class="col-12">
                           <button type="submit" class="btn btn-primary">Submit</button>
                           <a href="{% url 'student_list' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}